.container {   
padding: 0 24px;
}

.home__content {
    margin-top: 40px;
}

header {
    margin-bottom: 20px;
    margin-top: 30px;
}

.home__profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.home__subtitle {
    font-weight: 400;
    font-size: 14px;
    opacity: .8;
}
 

li a {
    display: flex;
    align-items: center;
    background-color: #192133; /* Fundo dos itens */
    border-radius: 10px;
    color: #ffffff;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

li a:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

li a span {
    font-size: 1.2rem;
    margin-left: 1rem;
}

.home__list {
    list-style: none;
    padding: 0;
}

.home__bg {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 24px;
}

.home__list-footer {    
    list-style: none;
    padding: 0;
    margin: 40px 0 60px;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
}

.home__img-footer {
    width: 30px;
    height: 30px;
}

@media(min-width: 768px) {
    .home__container {
       
        height: 100vh;
    }

    .home__content {
        margin-top: 40px;
        max-width: 600px;
        margin: auto;
    }

    .home__content-img {
        margin-bottom: 40px;
    }
}
 


#footer {
    margin-top: 36px;
    padding-bottom: 10px;
}



.copyright {
    text-align: center;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 8px;
}

.contact__content-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-top: 40px;
}

.contact__content-footer .social-links {
    display: flex;
    gap: 1rem;

}

.contact__content-email {
    margin-bottom: 20px;

}

.contact__content-email a {
  color: #ffffff;

}

.social-links img {
width: 24px;
height: 24px;
}