html {
    height: 100vh;
    background-size: cover;
    background-image: url('assets/imgs/background-galaxy.png');
    background-repeat: no-repeat;
}

html, body {
    // height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
}

body {
    background: transparent;
}

img {
    width: 48px;
    height: 48px;
}

a {
    text-decoration: none;
}


@media(min-width: 768px) {
    html {
        // height: 100vh;
        background-size: cover;
        background-image: url('assets/imgs/background-galaxy-desk.png');
        background-repeat: no-repeat;
      
    }
}