html {
 
    // background-size: cover;
    // background-image: url('assets/imgs/background-galaxy.png');
    // background-repeat: no-repeat;
}

html, body {
    // height: 100%;
    margin: 0;
    padding: 0;
    
    color: aliceblue;
    font-family: 'Inter', sans-serif;
}

body {
    background: transparent;
}

img {
    width: 48px;
    height: 48px;
}

a {
    text-decoration: none;
}


@media(min-width: 768px) {
    // html {
    //     // height: 100vh;
    //     position: relative;
    //     background-position: cover;
    //     background-size: 100% 100%;
    //     background-image: url('assets/imgs/background-galaxy-desk.png');
    //     background-repeat: no-repeat;
      
    // }
}