/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url('assets/imgs/background-galaxy.png');
    background-repeat: no-repeat;
  
}

img {
    width: 48px;
    height: 48px;
}

a {
    text-decoration: none;
}


@media(min-width: 768px) {
    body {
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-image: url('assets/imgs/background-galaxy-desk.png');
        background-repeat: no-repeat;
      
    }
}